<div class="card" >
<p id="f">Os campeonatos escolares ocorrem durante os dias 07 á 11de outubro tanto para o turno matutino e vespertino durante o horário 
    de aula sendo realizado no ginasio Poliesportivo da cidade
para mais informações  clique na modalidade que deseje.</p>

</div>


<div class="card">
<center>
    <h1>Futsal</h1>
</center>
<center><img src="/images/fut.jpg" alt="futsal" id="h"></img></center>
<p>Modalidade mais disputada entre todas as turmas possuindo um time por turma,tendo categorias tanto para o genêro
    masculino quanto
    feminino.Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no respectivo horário... 
    <a href="/eventos/campeonatos/futsal">Veja mais</a></p>
</div>

<div class="card">
<center>
    <h1>Handebol</h1>
</center>
<center><img src="/images/hand.jpg" alt="hadbol" id="h"></img></center>
<p>Modalidade disputada entre todas as turmas possuindo 2 times todos os anos,tendo categorias tanto para o genêro
    masculino quanto feminino.
    Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no respectivo horário... <a href="/eventos/campeonatos/hand">Veja
        mais</a></p>
</div>

<div class="card">
<center>
    <h1>Volei</h1>
</center>
<center><img src="/images/Vol.jpg" alt="handbol" width="296px" height="170px"></img></center>
<p>Modalidade disputada entre todas as turmas possuindo 3 a 4 times ,tendo
    categorias tanto para
    o genêro masculino quanto feminino.Realizado entre as turmas de manhã no horário de aula e as turmas da tarde no
    respectivo horário... <a href="/eventos/campeonatos/vol">Veja mais</a></p>
</div>
<style>
a{
            font-style: normal 12pt Arial;
            color: white;
          
        }
        #f{font-style: normal 4pt Arial;
        color:black;

        }
        </style>