<h1>Bem vindo a parte eventos aqui você vai encontrar diversas infomações sobre viajens e campeonatos durante o ano escolar</h1>
<div class="card"><center>
    <h1>Viagens</h1>
       <img src="/images/vi.jpg"></img>
    <p>Saiba mais aqui sobre as viagens realizadas em 2019...<a href="/eventos/viagens">Veja mais</a></p></center></div>
    <div class="card"><center>
    <h1>Campeonatos</h1>
    <img src="/images/foto-medalhas.jpg"width="296px" height="170px"></img>
    <p>Saiba mais aqui sobre os campeonatos realizados em 2019...<a href="/eventos/campeonatos">Veja mais</a></p>
    </center></div>
