

<div id="grupo">
    <div class="texto" id="esquerda">
    
    </div>

  <div class="card">Diretor</div>

<!--<img id="jov1" src="/images/diret.jpg">-->
<div class="card">Vice-Diretor</div></div>  
<!--<img id="jov2" src="/images/viced.png">-->
    <style>
      /*  @media	(max-width:	800px)	{
   */
        .card{
        height: 300px;

        }
        img#jov1 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 42.5%;
            left: 3%;
            border-radius: 12px;
        }

        img#jov2 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 90%;
            left: 3%;
            border-radius: 12px;
        }

        .texto {
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
            width: 1000px;
            height: 200px;
            float: left;
        }

        div#esquerda {
            position: absolute;
        }

        div#grupo{
            padding: 40px;
        }
    </style>