

<div class = "texto" id="esquerda">

</div>
<div class = "texto" id="meio">

</div>
<div class = "texto" id="direita">

</div>
<style>
 
     
  
  img#jov1{ 
      width: 270px;
      height: 270px;
      position: absolute;
       top: 0%;
      left: 2.5%;
  }
  
  img#jov2{ 
      width: 270px;
      height: 270px;
      position: relative;
      top: 10%;
      left: 70%;
  }
    .texto{
        border: 1px solid black;
        border-radius: 15px;
        padding: 15px;
        width: 400px;
        height: 1000px;
    }
    div#esquerda{
         position: absolute;
         top: 30.5%;

    }
    div#meio{
         position: relative;
         float:left;
         top: 30%;
         left: 30%;

    }
    div#direita{
         position: relative;
         top: 30%;
         left: 60%;
    }
</style>