<div class="card">Diretor</div>

<!--<img id="jov1" src="/images/diret.jpg">-->
<div class="card">Vice-Diretor</div>
<!--<img id="jov2" src="/images/viced.png">-->

<div id="grupo">
    <div class="texto" id="esquerda">

    </div>
    <div class="texto" id="meio">

    </div>
    <div class="texto" id="direita">

    </div>
</div>    
    <style>
        @media	(max-width:	6000px)	{


        .card{
        height: 300px;

        }
        img#jov1 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 42.5%;
            left: 3%;
            border-radius: 12px;
        }

        img#jov2 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 90%;
            left: 3%;
            border-radius: 12px;
        }

        .texto {
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
            width: 20%;
            height: 300px;
        }

        div#esquerda {
            position: absolute;
            

        }

        div#meio {
         position:relative ;
            float: left;
         left: auto;
        

        }

        div#direita {
            position: relative;
            left: auto;
        }

        div#grupo{
            padding: 40px;
               }       }
    </style>