

<div class="bloco">
<div   id="bloco1"><p><h2>Informações Administrativas</h2></p>
<img id="admn" src="/images/administrativas2.png" > <p><h1>
Processo de Visitação de Empresas para licitação de obra vai até dia 10/10/2019</p>
<p>A escola construirá uma area para atividades físicas. Passamos por processo licitário para essa construção.</p>
</h1> </div>
<div   id="bloco2"><p><h2>Informações Pedagógicas</p></h2><h1>
<p>Avaliações de Recuperação nos dias 09 e 10 de outubro</p>
<p> Alunos que ão conseguiram média no terceiro bimestre, terão uma nova oportunidade nos dias listados.   </p>
</h1>

</div>
<div   id="bloco3"><h2><p>Campeonato de Várias Modalidades</p></h2><h1>
<p> 07 à 11 de Outubro   </p>
<p> A Escola Estadual Joviano de Aguiar realizará o seu tradicional torneio interclasses. Diversas modalidades seraão contempladas por este evento. Os jogos realizados no Ginásio Poliesportivo no turno matutino.</p>
</h1>


</div>
</div>
<div class="card">Diretor</div>

<!--<img id="jov1" src="/images/diret.jpg">-->
<div class="card">Vice-Diretor</div>
<!--<img id="jov2" src="/images/viced.png">-->
    <style>
      /*  @media	(max-width:	800px)	{
   */

       img#admn{
           
           top:0%;
           left: 0%;
       }
        .card{
        height: 300px;
        float: none;

        }
        img#jov1 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 42.5%;
            left: 3%;
            border-radius: 12px;
        }

        img#jov2 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 90%;
            left: 3%;
            border-radius: 12px;
        }

        
            
       

        .bloco{
           
            border: 1px solid white;
            border-radius: 15px;
            padding: 15px;
            width: auto;
            height: auto;
            margin: 20px;
            text-align: center;
            
           
        }

        div#bloco1{
            border: 1px solid white;
            border-radius: 15px;
            display: inline-block;
            width: 25%;
            height:1000px;
            margin: 20px;
            font-family: 'Times New Roman', Times, serif;
            background-color: rgba(5, 27, 50, 1);
        }
        div#bloco2{
            border: 1px solid white;
            border-radius: 15px;
            display: inline-block;
            width: 25%;
            height: 1000px;
            margin: 20px;
            font-family: 'Times New Roman', Times, serif;
             background-color: rgba(5, 27, 50, 1);
        }
        div#bloco3{
            border: 1px solid white;
            border-radius: 15px;
            display: inline-block;
            width: 25%;
            height: 1000px;
            margin: 20px;
            font-family: 'Times New Roman', Times, serif;
             background-color: rgba(5, 27, 50, 1);
        }
       
    </style>