<div class="card">Diretor</div>

<img id="jov1" src="/images/diret.jpg">
<div class="card">Vice-Diretor</div>
<img id="jov2" src="/images/viced.png">

<div id="grupo">
    <div class="texto" id="esquerda">

    </div>
    <div class="texto" id="meio">

    </div>
    <div class="texto" id="direita">

    </div>
</div>    
    <style>
        .card{
        height: 300px;

        }
        img#jov1 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 42.5%;
            left: 3%;
            border-radius: 12px;
        }

        img#jov2 {
            width: 270px;
            height: 270px;
            position: absolute;
            top: 90%;
            left: 3%;
            border-radius: 12px;
        }

        .texto {
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
            width: 400px;
            height: 1000px;
        }

        div#esquerda {
            position: absolute;
            top: 151.6%;

        }

        div#meio {
            position: relative;
            float: left;
            top: 30%;
            left: 30%;

        }

        div#direita {
            position: relative;
            top: 30%;
            left: 60%;
        }

        div#grupo{
            padding: 40px;
        }
    </style>