<center><h1>Jemg</h1></center>
<h1>Bem vindo a pagína destinada a informações a respeito da competição escolar disputada por diversas cidades da região aqui você vai encontrar 
    um pouco do que precisa saber sobre tal competição muito requisitada pelos alunos.
</h1>
<p> O objetivo dos Jogos escolares de Minas Gerais é a valorização do esporte no ambiente escolar, formando deste da adolescencia jovens-atletas.
Promovendo a integração e o intercâmbio dos alunos para ampliar as oportunidades de socialização e aquisição de hábitos saudáveis.</p>
<p>Os Jogos Escolares de Minas Gerais – JEMG/2020 é dividido em 4 etapas: Etapa municipal, etapa microregional, etapa regional e a etapa estadual.</p>

<center><img src= "/images/medjemg.jpg" alt="medalhas jemg"width="296px" height="170px"></img></center>
<p> <a href="/eventos/campeonatos/jemg/gouveia">Veja mais</a> sobre um pouco do desempenho da instituição Joviano de Aguiar na competição em suas respectivas modalidades.</p>


<style>
a{
            font-style: normal 12pt Arial;
            color: white;
          
        }
        </style>