<center><h1>Bem vindo a pagina sobre o desempenho da instituição na competição  aqui você vai encontrar diversas informações e curiosidades a respeito da instituição em suas respectivas modalidades</h1></center>
<div class="card">
<center><h1>Futsal</h1></center>
<p>Em tal modalidade a instituição já viveu seus dias de glória e ainda vive com a modalidade feminina que atualmente defendem o 
    título de campeãs carregando consigo o nome da escola e trazendo orgulho a instituição.</p>
<center><img src="/images/futfemin.jpg" alt="futfemin"width="296px" height="170px">  </img></center>
</div>
<div class="card">
<center><h1>Volei</h1></center>
<p>No quesito Volei tanto na modalidade masculina e feminina a instituição ja possuiu diversos times cascudos (ou melhor dizendo campeões),
    o ultimo ano (2019) pode ter sido o ultimo da modalidade masculina</p>
    <center><img  src="/images/vol2018.jpg"alt="."width="296px" height="170px">  </img></center>
    </div>
<div class="card">
<center><h1>Handebol</h1></center>
<p>No quesito Handebol o time já viveu seus momentos de glória com atlecas impecáveis no seu estilo de jogo e com uma coletividade 
    incomparável o que rendeu títulos, porém nada impede os proxímos alunos a se destacarem assim como os veteranos ou 
    se tornarem melhores do que os mesmos.
</p>
    <center><img  alt="."width="296px" height="170px">  </img></center></div>