<div id="endereco">
    <p><a href="https://www.google.com/maps/place/Ee+Joviano+De+Aguiar/@-18.453514,-43.740947,15z/data=!4m5!3m4!1s0x0:0xd47a95561f591
b35!8m2!3d-18.453514!4d-43.740947" target="_blank"><img src="/images/locas.png" alt="logo do gmail" id="social"> Endereço: Rua dos
            Alves, 430 - Centro, Gouveia - MG, 39120-000</a>
        <br><a href="http://www.gmail.com" target="_blank">
            <img src="http://drvendas.com.br/wp-content/uploads/2018/08/logo-gmail-1.png" alt="logo do gmail"
                id="social"> E-mail: escola.24147@educacao.mg.gov.br</a>
        <br><a href="#"></a><img src="/images/telifone.png" alt="logo do telefone" id="social"></a> Telefone: (38) 3543-1143
    </p>










    <style>
        div#endereco {
            display: inline-block;
        }

        div#direita {

            display: inline-block;
        }
        a{
            font-style: normal 12pt Arial;
            color: white;
           text-decoration: none;
        }
    </style>