<h1>Viagens</h1>
<p>Durante o periodo escolar, é comun os professores juntamente Direção da escola,realizar viagens a locais turisticos
afim de propocionar momentos de lazer com aprendizado,
como pode ser observado nas fotos a seguir:<br></p>
<div id="Borda">
<button id="anterior"> 
    <img height="20px" src="/images/Botao/before.png"/ alt="anterior">
</button>
&nbsp;

<img id="imagem">

<button id="proximo">
	<img height="20px" height="20px" src="/images/Botao/next.png" alt="proximo">
</button></button>
</div>

<script src="/scripts/script.js"></script>	
